body {
    background-color: #FFFCF8;
    max-width: 390px;
    font-family: "Open Sans";
    text-align: center;
    justify-content: center;
    width: 100%;

}

.retour {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 330px;
}

.la_box {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    padding-left: 12%;
    width: 100%;
}

.quatre_star {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.resume {}

.chapters {
    flex-direction: row;
}

.bord_chap {
    display: inline-block;
    margin-left: 290px;
}

.chap_ten {
    display: flex;
}

.chap_nine {
    display: flex;
}

.chap_eight {
    display: flex;
}

.chap_seven {
    display: flex;
}

.chap_six {
    display: flex;
}

.no_chap {
    display: flex;
}

.choix_stars {
    display: flex;
    background-color: #ECAD8A;

}

.choice_star {
    padding-left: 100px;
    flex-direction: row;
}